name: Blog Node.js CI/CD

on:
  push:
    branches: [dev, test, main]

jobs:
  # Dev branch - Build only on runner-1
  dev:
    if: github.ref == 'refs/heads/dev'
    uses: ./.github/workflows/reusable-node.yml
    with:
      runner_labels: '["self-hosted", "dev"]'
      environment: dev
      should_deploy: false
    secrets: inherit

  # Test branch - Build only on runner-1
  test:
    if: github.ref == 'refs/heads/test'
    uses: ./.github/workflows/reusable-node.yml
    with:
      runner_labels: '["self-hosted", "test"]'
      environment: test
      should_deploy: false
    secrets: inherit

  # Main branch - Build and Deploy on runner-2
  prod:
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/reusable-node.yml
    with:
      runner_labels: '["self-hosted", "prod"]'
      environment: production
      should_deploy: true
    secrets: inherit
